body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #fff;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* .header {
} */

/* .header-navigation {
} */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-accent {
  color: #4d5ae5;
}

/* .header-menu-list {
} */

/* .header-menu-item {
} */

.header-menu-link,
.header-menu-link-act {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-link-act:hover,
.header-menu-link:hover {
  color: #4d5ae5;
}

.header-menu-link-act:active {
  color: #404bbf;
  background-color: #404bbf;
}

/* .header-contacts {
} */

/* .header-contacts-list {
} */

/* .header-contacts-item {
} */

address {
  font-style: normal;
}

.header-contacts-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-contacts-link:hover {
  color: #404bbf;
}

.hero-solutions {
  background-color: #2e2f42;
}

.hero-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-btn {
  color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
}

button{
  cursor: pointer;
}

.hero-btn:hover {
  background-color: #404bbf;
}

/* .hero-title {
} */

/* .hero-title-text {
} */

.hero-title-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.hero-title-list-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.hero-team {
  bekground-color: #f4f4fd;
}

.hero-team-main-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/* .hero-team-list {
} */

/* .hero-team-img {
} */

.hero-team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.hero-team-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* .portfolio {
} */

.portfolio-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

/* .portfolio-list {
} */

/* .portfolio-items {
} */

/* .portfolio-items-img {
} */

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
}

.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-accent {
  color: #f4f4fd;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
